In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import client
import pandas as pd
from pyspark.sql.session import SparkSession

In [3]:
p = client.Client()

In [4]:
p.upload_data('data')

Dataset data.csv successfully uploaded!

In [5]:
p.max_by_column("Pressure")

Maximum value in column:  103273.0

In [6]:
p.print_df_info("data")

Information of dataset:

 <class 'pandas.core.frame.DataFrame'>
RangeIndex: 6077 entries, 0 to 6076
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Carrier Code             6077 non-null   object
 1   Flight Number            6077 non-null   int64
 2   Tail Number              6077 non-null   object
 3   Origin Airport           6077 non-null   object
 4   Scheduled Arrival Time   6077 non-null   object
 5   Arrival Delay (Minutes)  6077 non-null   int64
 6   Wind                     6077 non-null   object
 7   Temperature              6077 non-null   float64
 8   Humidity                 6077 non-null   float64
 9   Wind Speed               6077 non-null   float64
 10  Pressure                 6077 non-null   float64
 11  Condition                6077 non-null   object
dtypes: float64(4), int64(2), object(6)
memory usage: 569.8+ KB

In [7]:
p.print_nrows_data(3)

3 rows of dataset:

   Carrier Code  Flight Number Tail Number Origin Airport  \
0           CO          218.0      N46625            EWR
1           CO          793.0      N27610            IAH
2           CO         1006.0      N69311            IAH

  Scheduled Arrival Time  Arrival Delay (Minutes) Wind  Temperature  Humidity  \
0    2005-01-01 15:28:00                     -7.0  VAR         42.0      0.50
1    2005-01-01 12:13:00                     22.0    E         44.0      0.50
2    2005-01-01 13:58:00                      2.0  VAR         44.0      0.48

   Wind Speed   Pressure Condition
0       3.129  102528.08    Cloudy
1       4.023  102528.08    Cloudy
2       2.682  102494.22    Cloudy

In [7]:
df = pd.read_csv("/home/aidar/Desktop/SAS/data.csv")

In [14]:
dmax = str(df['Pressure'].max())

In [15]:
dmax

'103273.0'

In [28]:
import io
buf = io.StringIO()
df.info(buf=buf)
s = buf.getvalue()
print(s)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6077 entries, 0 to 6076
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Carrier Code             6077 non-null   object
 1   Flight Number            6077 non-null   int64
 2   Tail Number              6077 non-null   object
 3   Origin Airport           6077 non-null   object
 4   Scheduled Arrival Time   6077 non-null   object
 5   Arrival Delay (Minutes)  6077 non-null   int64
 6   Wind                     6077 non-null   object
 7   Temperature              6077 non-null   float64
 8   Humidity                 6077 non-null   float64
 9   Wind Speed               6077 non-null   float64
 10  Pressure                 6077 non-null   float64
 11  Condition                6077 non-null   object
dtypes: float64(4), int64(2), object(6)
memory usage: 569.8+ KB

In [7]:
spark = SparkSession.builder\
    .master("local[*]")\
    .appName('Test run for big DataFrame')\
    .getOrCreate()

22/06/12 18:09:33 WARN Utils: Your hostname, aidar-HP-Pavilion resolves to a loopback address: 127.0.1.1; using 192.168.1.38 instead (on interface wlo1)
22/06/12 18:09:33 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/06/12 18:09:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/06/12 18:09:35 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [8]:
path = f"/home/aidar/Desktop/SAS/data.csv"
dfspark = spark.read.csv(path, header = True)

In [9]:
str(dfspark.printSchema())

root
 |-- Carrier Code: string (nullable = true)
 |-- Flight Number: string (nullable = true)
 |-- Tail Number: string (nullable = true)
 |-- Origin Airport: string (nullable = true)
 |-- Scheduled Arrival Time: string (nullable = true)
 |-- Arrival Delay (Minutes): string (nullable = true)
 |-- Wind: string (nullable = true)
 |-- Temperature: string (nullable = true)
 |-- Humidity: string (nullable = true)
 |-- Wind Speed: string (nullable = true)
 |-- Pressure: string (nullable = true)
 |-- Condition: string (nullable = true)

'None'